@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
$brown-gray: #ebe1de;
$primary: #472821;
$brown: #572918;
$green: #414f28;
$brown-light: #e28743;
$default-font: "Inter", sans-serif;
$secondary-font: "Merriweather", serif;
